<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit = no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<title>Study Groups Web App</title>
</head>

<body>
	<div class="container">
 		<nav class = "navbar navbar-expand-sm navbar-dark bg-secondary">
            <a class = "navbar-brand" href = "studygroups">Study groups app</a>
            <button class = "navbar-toggler" type = "button" data-toggle = "collapse" 
               data-target = "#navbarSupportedContent" 
               aria-controls = "navbarSupportedContent" aria-expanded = "false" 
               aria-label = "Toggle navigation">
               
               <span class = "navbar-toggler-icon"></span>
            </button>
            
            <div class = "collapse navbar-collapse" id = "navbarSupportedContent">
               <ul class = "navbar-nav mr-auto">
                  <li class = "nav-item active">
                     <a class = "nav-link" href = "studygroups">groups</a>
                  </li>
                  <li class = "nav-item ">
                     <a class = "nav-link" href ="studygroupsForm" >Submit a study group</a>
                  </li>
                  <li class = "nav-item">
                     <a class = "nav-link" href = "welcome">Log out</a>
                  </li>
               </ul>    
            </div>
            
      	</nav> 
		<h2  class = "mt-4">Study groups</h2>
		<table class="table">
			<thead class = "thead-light">
		        <tr>
		            <th class="text-left">Topic</th>
		            <th class="text-left">Description</th>
		            <th class="text-left">Start time</th>
		            <th class="text-left">End time</th>
		            <th class="text-left">Members</th>
		            <th class="text-left"></th>
		        </tr>
		    </thead>
			<tbody>
				<tr th:each="group : ${groups}">
		            <td th:text="${group.getTopic()}">software engineering</td>
		            <td th:text="${group.getDescription()}">project</td>
		            <td th:text="${group.getStartTime()}">22/11/23 3pm</td>
		            <td th:text="${group.getEndTime()}">22/11/23 4pm</td>
		            <td th:text="${group.getMembersFnames()}">Gabriel</td>
		            
		            <!-- Show the "update" and  "Delete" button only if the user have created the group -->   
		            <td th:if="${user.getId() eq group.getCreator().getId()}">	            
						<a th:href="@{/studygroupsForm(id=${group.getId()})}" href="#" class="btn btn-info" role="button">Update</a>
            			<a class="btn btn-danger" th:href="@{/studygroups(id=${group.getId()})}" href="#"  role="button">Delete</a>
					</td>
					<!-- Show the "Join" button only if the user did not create the group -->
					<td th:if="${user.getId() ne group.getCreator().getId()}">
            			<a th:href="@{/joinStudyGroup(idUser=${user.getId()}, idGroup=${group.getId()})}" href="#" class="btn btn-info" role="button">Join</a>
        			</td>
				</tr>
			</tbody>
		</table>
		<hr/>
		<div >
			<div>Number of groups: <span th:text="${numberOfGroups}" ></span></div>	 
		</div>
		
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	
</body>
</html>